.canvas-container {
  position: relative;
  width: fit-content;
}

.pop-up {
  max-width: 400px;
  background: #cce6ff;
  padding: 7px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: none;
}
.pop-up.show {
  display: block;
}

.tools-container button {
  padding: 8px 10px;
  background-color: #9cbfe2;
  outline: none;
  border-radius: 4px;
  border: none;
}
.tools-container button.pressed {
  background-color: 	#3473b2;
  font-weight: bold;
  color: white
}

canvas.color-picker {
    cursor: crosshair;
}